<% provide(:title, @user.name) %>
<section class="container">
  <h2 class="col-sm-6 m-auto py-3">My Information: </h2>
  <div class= "col-sm-6 m-auto ">
    Name: <%= @user.name %> <br>
    Email: <%= @user.email %><br>
    Member since: <%= @user.created_at %><br>
  </div>
  <br>
  <% if @user.created_events.any? %>
    <h3 class="">My events: (<%= @user.created_events.count %>)</h3>
    <% @user.created_events.each do |event| %>
      <div class="">
        <div class=""><%= event.name %></div>
        <div class=""><%= event.description %></div>
        <div class=""><%= event.place %></div>
        <div class=""><%= event.date %></div>
      </div >
      <hr>
    <% end %>
  <% end %>
</section>
