<h3 class="card-header text-center bg-secondary text-light mt-1 ">
  <%= section_h %>
  <small class="rounded-pill ml-3 py-1 px-3 bg-dark">
    <%= events.count %>
  </small>
</h3>
<div class="py-1 row">
  <% events.each_with_index do |e, i| %>
  <div class="card col-4 my-1">
    <div class="card-body">
      <h5 class="card-title text-center"><%= e.name %></h5>
      <small class="card-subtitle mb-2 text-muted d-flex justify-content-between">
        <span><%= e.date %></span>
        <span> At: <%= e.place %></span>
      </small>
      <p class="card-text"><%= e.description %></p>
      <%= link_to 'See Event', e, class: 'align-self-end card-link' %>
    </div>
  </div>
<% end %>
</div>
