<section class="container p-0 row">
  <div class= "col-sm-6 mx-auto">
    <h2 class="py-3"> Event Information: </h2>
    Name: <%= @event.name %> <br>
    Place: <%= @event.place %><br>
    Date: <%= @event.date %><br>
    Description: <%= @event.description %>
    Organized by: <%= @event.organizer.name %>
  </div>
</section>
