<header>
  <nav class="navbar navbar-dark bg-dark justify_content_between">
    <%= link_to 'Private Events App', root_path , class: 'navbar-brand pl-3' %>
    <div class="navbar navbar-dark">
      <% if logged_in? %>
        <div class="text-light">Logged in as: <%= current_user.name %></div>
        <%= link_to 'Profile', current_user, class:'nav-item nav-link' %>
        <%= link_to 'Log Out', logout_path, class:'nav-item nav-link' %>
      <% else %>      
        <%= link_to 'Sign Up', signup_path, class:'nav-item nav-link' %>
        <%= link_to 'Log in', login_path, class:'nav-item nav-link' %>
      <% end %>
    </div>
  </nav>
</header>
