<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

  <body>
    <%= render 'layouts/header' %>
    <%= render partial:'shared/error_messages', flash: flash %>
    <div class="container px-0">
      <%= yield %>
    </div>
    <%= render 'shared/js_for_bootstrap' %>
  </body>
</html>
